[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyqt5-tools = "~=5.11"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
