[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.6"
